---
---

<style>
    .about {
        display: flex;
        gap: 32px;
        justify-content: space-between;
        align-items: start;
        margin: 90px 20px 10px 10px;
    }

    h1 {
        width: 350px;
    }

    p {
        font-size: 50px;
        flex: 1;
        margin: 0;
        padding: 0;
    }
</style>

<div class="about">
    <h1 style="font-family: 'Anton';"> About Me</h1>
    <p style="font-family: 'Anton';">
        Web developer with experience in building web and mobile applications, specializing in Angular and modern frameworks.
        My work focuses on clean, efficient code and scalable solutions, ensuring functionality and performance.
        I thrive on creating intuitive user experiences and optimizing development processes while staying up to date with the latest technologies.
    </p>
</div>
