---
---

<style>
    .about {
        display: flex;
        gap: 32px;
        justify-content: space-between;
        align-items: start;
        margin: 90px 20px 10px 10px;
    }

    h1 {
        width: 350px;
    }

    table {
        flex: 1;
        margin: 0;
        padding: 0;
    }

    table {
        font-size: 30px;
        width: 70%;
        border-collapse: collapse;
    }
    th, td {
        padding: 12px;
        text-align: left;
    }
    th {
        font-weight: bold;
    }
    tr:not(:last-child) {
        border-bottom: 1px solid #444;
    }
    .job-title {
        font-weight: bold;
    }

    

</style>

<div class="about">
    <h1 style="font-family: 'Anton';">Experience</h1>
    <table style="font-family: 'Anton';">
        <tr>
            <td class="job-title">APP DEVELOPMENT DEGREE</td>
            <td>PROGRESA</td>
            <td>Sep 2021 → May 2023</td>
        </tr>
        <tr>
            <td class="job-title">WEB DEVELOPMENT DEGREE</td>
            <td>SOLVAM</td>
            <td>Sep 2023 → Feb 2024</td>
        </tr>
        <tr>
            <td class="job-title">Software Developer at SumValue</td>
            <td>IT</td>
            <td>May 2023 → Jan 2025</td>
        </tr>
        <tr>
            <td class="job-title">Software Developer at LOGIFRUIT</td>
            <td>Tech Department</td>
            <td>Feb 2025 → Now</td>
        </tr>
    </table>

</div>
