---
---

<style>
    .about {
        display: flex;
        gap: 32px;
        justify-content: space-between;
        align-items: start;
        margin: 15px;
    }

    h1 {
        width: 350px;
        font-size: clamp(24px, 5vw, 50px); /* Tamaño de texto adaptable */
        margin: 0;
        padding: 0;
    }

    table {
        flex: 1;
        margin: 0;
        padding: 0;
        font-size: clamp(14px, 2vw, 30px); /* Ajuste dinámico del texto */
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 12px;
        text-align: left;
        line-height: 1;
    }

    th {
        font-weight: bold;
    }

    tr:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .job-title {
        font-weight: bold;
    }

    /* Tablets */
    @media (max-width: 1024px) {
        .about {
            flex-direction: column;
            gap: 16px;
        }

        h1 {
            font-size: 40px;
        }

        table {
            font-size: 24px;
        }

        td {
            padding: 5px 0 5px 0px;
        }
    }

    /* Móviles (hasta 768px) */
    @media (max-width: 768px) {
        h1 {
            font-size: 32px;
        }

        table {
            font-size: 20px;
        }

        th, td {
            display: block;
            width: 100%;
        }

        tr {
            display: flex;
            flex-direction: column;
            border-bottom: 2px solid #444;
        }
    }

    /* Móviles pequeños (hasta 480px) */
    @media (max-width: 480px) {
        h1 {
            font-size: 28px;
        }

        table {
            font-size: 18px;
        }
    }

    .enlace{
        color: #00AF66;
        text-decoration: none;
    }

</style>


<div id="experience" class="about">
    <h1 style="font-family: 'Anton';">Experience</h1>
    <table style="font-family: 'Anton';">
        <tr>
            <td class="job-title">APP DEVELOPMENT DEGREE</td>
            <td>PROGRESA</td>
            <td>Sep 2021 → May 2023</td>
        </tr>
        <tr>
            <td class="job-title">WEB DEVELOPMENT DEGREE</td>
            <td>SOLVAM</td>
            <td>Sep 2023 → Feb 2024</td>
        </tr>
        <tr>
            <td class="job-title">Software Developer at SumValue</td>
            <td>IT</td>
            <td>May 2023 → Jan 2025</td>
        </tr>
        <tr>
            <td class="job-title">Software Developer at <span class="enlace">LOGIFRUIT</span></td>
            <td>Tech Department</td>
            <td>Feb 2025 → Now</td>
        </tr>
    </table>

</div>
