---
---

<style>
    .about {
        display: flex;
        gap: 32px;
        justify-content: space-between;
        align-items: start;
        margin: 90px 20px 10px 10px;
    }

    h1 {
        width: 350px;
    }

    ul {
        font-size: 50px;
        flex: 1;
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
    }
</style>

<div class="about">
    <h1 style="font-family: 'Anton';">Focus</h1>
    <ul style="font-family: 'Anton';">
        <li>Web Development</li>
        <li>Clean Code</li>
        <li>Modern Frameworks</li>
        <li>Blockchain</li>
    <ul/>

</div>
