---
import '@fontsource/anton';
import '@fontsource/mea-culpa';
import Bento from './Bento.astro';
import AboutMe from './AboutMe.astro';
import Focus from './Focus.astro';
import Experience from './Experience.astro';
import Contact from './Contact.astro';
import Footer from './Footer.astro';
---

<style>

	h1 {
		margin: 0;
		padding: 0;
		line-height: 1;
	}

	.title {
		position: fixed;
		margin: 5px;
	}

	.main-title {
		font-size: 250px;
		line-height: 1;
		letter-spacing: -8px;
	}

	.sub-title {
		margin: 0;
		padding: 0;
		font-size: 150px;
		line-height: 0;
		font-weight: bold;
	}

	.page {
		top: 65%;
		width: 100wv;
		position: absolute;
		z-index: 3;
		background-color: white;

		display: flex;
		flex-direction: column;
		gap: 90px;

		.info {
			margin: 0 20px 0 20px;
		}

		.info h1{
			margin-bottom: 10px;
		}

	}



    @media (max-width: 830px) {

		.page {
			width: 100%;
		}

		.main-title {
			font-size: 200px;
		}

		.sub-title {
			font-size: 100px;
		}
	}

    /* Móviles (hasta 768px) */
    @media (max-width: 650px) {

		.page {
			width: 100%;
			gap: 20px;
		}

		.main-title {
			font-size: 150px;
		}

		.sub-title {
			font-size: 100px;
		}


    }

    /* Móviles pequeños (hasta 480px) */
    @media (max-width: 470px) {
		.main-title {
			font-size: 120px;
		}

		.sub-title {
			font-size: 80px;
		}
    }



</style>

<main>

	<div class="title">
		<h1 class="main-title" style="font-family: 'Anton';">PABLO CONEJOS</h1>
		<p class="sub-title" style="font-family: 'Mea Culpa'; color: red">Developer</>
	</div>

	<div class="page">
		<Experience />
		<AboutMe />
		<Bento />
		<Focus />
		<Contact />
		<Footer />
	</div>

</main>


